th, td {
  padding: 10px;
}
.TableRow {
  width: 100%;
  transition: all .2s ease;
  &:hover {
    cursor: pointer;
    background-color: #F5F5F5;
  }
  &.Selected {
    background-color: #EEEEEE;
  }
}