.Table {
  width: 100%;
  text-align: left;
  border-spacing: 0;

  color: #757575;
}

.TableControls {
  display: flex;
  .TableControlsButton {
    padding: 0;
    border: 0;

    margin-right: 50px;
    &:hover {
      cursor: pointer;
    }
  }
}