.Table {
  width: 100%;
  text-align: left;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #EDEDED;
}

.TableControls {
  display: flex;
  padding: 15px 10px;
  button {
    padding: 0;
    border: 0;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    &:hover {
      cursor: pointer;
    }
  }
  .CheckboxButton {
    padding: 0;
    border: 0;
    
  }
  span {
    margin: 0 50px 0 15px;
  }
  .DownloadButton {
  }
}